html,
body {
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
input,
textarea,
section,
option {
  outline: none;
  border: none;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 882px;
  margin: 0 auto;
  padding: 0 15px;
}

.is-visible {
  display: none;
}
