<div class="profile-content" data-id="{{id}}">
    <div class="profile__photo">
        <img src="{{photo}}" alt="" class="profile__img">
    </div>
    <div class="profile__info">
        <div class="profile__data"><span class="text-orange">Full Name :&nbsp;</span>{{full-name}}</div>
        <div class="profile__data"><span class="text-orange">Position :&nbsp;</span>{{position}}</div>
    </div>
</div>